html {
  scroll-behavior: smooth;
}
.playwrite-cu-400 {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playwrite-au-vic-400 {
  font-family: "Playwrite AU VIC", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.unbounded-400 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* replace with any number from 200 to 900 */
  font-style: normal;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.glow-star {
    text-shadow: 0 0 10px rgba(255, 217, 0, 0.7);
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 32s linear infinite;
  display: inline-flex;
}
.compare-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

.compare-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}
.before-image {
  clip-path: inset(0 50% 0 0);
  transition: clip-path 0.1s ease;
  z-index: 2;
}
.after-image {
  z-index: 1;
}
.compare-handle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: white;
  z-index: 3;
  cursor: ew-resize;
  transition: left 0.1s ease;
}
